html,
body {
  height: 100%;
  margin: 0;
}

.min-vh-100 {
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.mt-auto {
  margin-top: auto;
}

.header-title {
  padding-left: 1rem;
}
.custom-margin {
  margin-left: 25px;
}